.bottom-right-button {
    
    margin: 20px;
    padding: 50px;

    background-image: url('src/images/DayButton.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    
    width: 100px; 
    height: 40px; 
    border: none; 
    image-rendering: pixelated;
    background-size: contain;
    grid-column: 4; 
  justify-self: end; 
  grid-row: span 2;
}

.second-button {
    
    
    margin: 20px;
    padding: 50px;

    background-image: url('src/images/openButton.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    
    width: 100px; 
    height: 40px; 
    border: none; 
    image-rendering: pixelated;
    background-size: contain;

    grid-column: 4; 
    justify-self: end; 
    grid-row: span 2;
}