/* 
If the class isn't specific to any component,
put it here.
*/

.Font-Medieval {
    font-family: 'MedievalSharp', cursive;
}
.Font-Pixel {
   
font-family: 'Pixelify Sans', sans-serif;
}

body {
    margin: 0px;
    height: 100%;
    background-image: url('src/images/BackgroundWhite.png'); 
    background-repeat: repeat;
    background-size: 270px 270px;;
    image-rendering: pixelated;
}

ul {
    padding: 0px;
    list-style-type: none;
}

.Game {
    margin: 0px;
}

.Generic-Ui-Component {
    background-color: blue;

    border: 0px;
    padding: 0px;
    margin: 0px;
}