.Slider {
    -webkit-appearance: none;
    appearance: none;
    background-color: #484440;
    width: 100%;
    height: 20px;
    outline: none;
    transition: all 0.1s;
    margin: 0px;
}

.Slider:hover {
    background-color: #625c56;

    height: 22px;
}

.Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    background: #b49364;
    cursor: pointer;
    transition: 0.1s;
}

.Slider::-webkit-slider-thumb:hover {
    width: 30px;
    height: 30px;
    background: #e9c796;
}

.Slider-Header {
    width: min-content;
    margin: 0px;
}