.View-Switcher-Full {
    background-color: rgb(97, 66, 12);
    width: auto;  
    height: auto;
}

.View-Selector-Full {
    
    background-color: rgb(97, 66, 12);
    width: max-content;
    
}

.View-Selector-Buttons {
    background-color: rgb(134, 90, 20);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 450px;
    width: max-content;
    display: flex;
    flex-direction: column;
}

.View-Selector-Button {
    height: max-content;
    width: auto;
}